@import url('./style.css');
@import url('./form-style.css');


.nav {
    position: fixed;
}

.about {
    font-size: 14px;
    max-width: 938px;
    margin: 0 auto;
    padding-top: 150px;
    margin-bottom: 60px;
}

.about-img img{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 80px;
    box-shadow: 0 0 60px #d2cecec4;
}

.about-content {
    display: flex;
    justify-content: space-between;
}

.content-lists {
    min-width: 40%;
}

.content-lists li {
    line-height: 2em;
}

.list-title {
    font-size: 17px;
    line-height: 1em;
    margin: 40px 0;
}
.list-title.first {
    margin-top: 0;
}

.content-descr {
    min-width: 50%;
}

.content-descr p {
    margin-bottom: 40px;
    line-height: 2em;
}

.content-btns {
    margin-top: 60px;
}

.content-btns a {
    padding: 20px 15px;
    border: 2px solid #fff;
    margin-right: 20px;
    cursor: pointer;
}
.content-btns a:last-child {
    border: none;
}

.footer {
    position: relative;
}

/* MEDIA FOR ABOUT */
@media (max-width: 991px) {
    .about {
        padding-top: 120px;
        max-width: 728px;
    }

    .content-btns a {
        padding: 15px 15px;
    }
}

@media (max-width: 767px) {
    .nav-menu__item {
        font-size: 10px;
    }
    .about-content {
        display: block;
    }
    .content-descr {
        min-width: 100%;
    }
    .about-content {
        padding: 10px;
    }
}