@import url("./icons.css");
@import url("./form-style.css");

html,
body {
   width: 100%;
}

body {
   color: #fff;
   font-family: "Montserrat", sans-serif;
   font-size: 12px;
   font-weight: 400;
   letter-spacing: 0.1em;

   background-image: url(../img/bg.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: top center;
   background-attachment: fixed;
}

a {
   text-decoration: none;
   color: #fff;
}

a:hover,
a:focus {
   outline: none;
}

.container {
   max-width: 92%;
   width: 100%;
   margin: 0 auto;
}

/* NAVIGATION */
nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: absolute;
   width: 92%;
   z-index: 2;
   padding: 0 4%;
   background-color: rgba(13, 10, 81, 0.8);
}

.brand {
   opacity: 0.8;
}

.brand:hover {
   opacity: 1;
}

.nav-logo {
   height: 80px;
   width: 80px;
}

.nav-menu {
   display: flex;
}

.nav-menu__item {
   margin-right: 80px;
   line-height: 60px;
   opacity: 0.8;
   position: relative;
}

.nav-menu__item:last-child {
   margin-right: 0px;
}

.nav-menu__item::after,
.nav-menu__item::before {
   content: "";
   display: block;
   position: absolute;
   bottom: 10px;
   left: 0;
   width: 0;
   height: 3px;
   background-color: #fff;
   opacity: 0.8;
   transition: 0.3s;
}

.nav-menu__item::before {
   bottom: auto;
   left: auto;
   top: 10px;
   right: 0;
}

.nav-menu__item:hover {
   opacity: 1;
}
.nav-menu__item:hover::after,
.nav-menu__item:hover::before {
   width: 100%;
   opacity: 1;
}

/* MAIN */
.main {
   height: 85vh;
   position: relative;
}

.main-block {
   position: absolute;
   max-width: 30%;
   top: 50%;
   transform: translateY(-50%);
   left: 15%;
}

.main-title {
   position: relative;
   font-size: 100px;
   line-height: 0.8em;
   font-size: 6vmax;
   max-width: 90%;
   margin-bottom: 10px;
}
.main-title::after {
   content: "";
   position: absolute;
   width: 60px;
   height: 5px;
   top: 80%;
   margin-left: 20px;
   transform: translateY(-50%);
   background-color: #fff;
}

.main-subtitle {
   display: block;
   font-style: italic;
   text-align: right;
   opacity: 0.8;
}

.main-link {
   position: absolute;

   display: inline-block;
   padding: 10px 20px;
   border: 3px solid rgba(13, 10, 81, 1);
   border-radius: 10px;
   background-color: rgba(13, 10, 81, 0.9);

   right: 5%;
   top: 50%;
   opacity: 0.9;
   font-size: 12px;
}

.main-link:hover {
   opacity: 1;
}

.main-link::before {
   content: "";
   position: absolute;
   width: 15px;
   height: 4px;
   background-color: #0d0a51;
   left: -15%;
   top: 50%;
   transform: translateY(-50%);
}

/* SOCIAL */
.footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   line-height: 80px;
   background-color: rgba(13, 10, 81, 0.8);
}

.footer .container {
   display: flex;
   justify-content: space-between;
}

.social-link {
   margin-right: 45px;
   opacity: 0.8;
   position: relative;
}

.social-link::after {
   content: "";
   display: block;
   position: absolute;
   bottom: -10px;
   left: 0;
   width: 0;
   height: 3px;
   background-color: #fff;
   opacity: 0.8;
   transition: 0.3s;
}
.social-link:hover::after {
   width: 100%;
   opacity: 1;
}

.social-link:hover {
   opacity: 1;
}

.social-link:nth-child(1)::before {
   content: "\e945";
   font-family: "icomoon";
   font-size: 20px;
   margin-right: 5px;
}
.social-link:nth-child(2)::before {
   content: "\ea95";
   font-family: "icomoon";
   font-size: 20px;
   margin-right: 5px;
}
.social-link:nth-child(3)::before {
   content: "\ea98";
   font-family: "icomoon";
   font-size: 20px;
   margin-right: 5px;
}
.social-link:nth-child(4)::before {
   content: "\eab0";
   font-family: "icomoon";
   font-size: 20px;
   margin-right: 5px;
}

.footer-text {
   opacity: 0.4;
   font-style: italic;
   cursor: context-menu;

   user-select: none;
   -webkit-touch-callout: none; /* iOS Safari */
   -webkit-user-select: none; /* Chrome/Safari/Opera */
   -khtml-user-select: none; /* Konqueror */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

/* MEDIA */
@media (max-width: 991px) {
   nav {
      flex-direction: column;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.6);
   }
   .nav-menu {
      width: 100%;
      justify-content: space-around;
   }
   .main-block {
      margin-top: 7%;
   }
   .main-title {
      max-width: 100%;
      font-size: 8vmax;
   }
   .main-title::after {
      left: 0;
      top: 110%;
      margin-left: 0;
   }
   .main-link {
      display: none;
   }
   footer {
      display: none;
   }
}

@media (max-width: 479px) {
   .main-title {
      font-size: 5em;
      line-height: 1;
   }
   .main-title::after {
      left: 0;
      top: 54%;
      margin-left: 0;
   }
}

@media (max-width: 420px) {
   .main-title {
      margin-top: 30%;
   }
   .main-title::after {
      top: 35%;
   }
}
